/* .divVistaPrevia{
   
} */

.divPreloder{
    position: absolute;
    opacity: 0.4;
    margin-bottom: 200px;
    
}

.form-group{
    position: relative;
    top: -150px;
    
}

@media(max-width:1000px){
    .form-group{
        top: -50px;
    }
}